<p><input type="text" name="title" placeholder="タイトル"></p>
<p><input type="text" name="image" placeholder="Image Url"></p>
<textarea name="content" placeholder="記事を書いてください" rows="10" cols="50"></textarea>
<p><input type="submit" value="投稿"></p>